* {
	box-sizing: border-box;
}

body {
	font-family: Pandora;
}


/* -------------- Top Navigation Bar --------------- */ 

.mlbb-logo {
	float: left;
	height: auto;
	width: 15%;
	padding: 1%;
	margin-top: 0.5%;
}

.topnav {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	background: #203f6c;
	width: 100%;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 99;
}

.topnav a {
	float: left;
	color: white;
	padding: 1% 1%;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.5vw;
	margin-top: 1%;
	transition: 0.5s;
}

.topnav a:hover {
	cursor: pointer;
	color: #eac56b;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

/* ----------------- Content ----------------- */

/* ------------ Classic ------------- */

.container-classic {
	max-width: 100%;
	background-color: #203f6c;
	background-image: linear-gradient(to top right, #203f6c, #00308F);
	height: 100%;
	margin-top: 10%;
	padding-top: 1%;
	padding-bottom: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50px;
}

.classic-txt {
	margin-top: 5%;
	margin-left: 5%;
	height: auto;
	width: 30%;
}

.classic-img {
	height: auto;
	width: 30%;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.classic-img:hover {
	cursor: pointer;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.container-classic p {
	color: #ddd;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	font-size: 1.2vw;
}

.container-classic h1 {
	color: #ddd;
	text-align: justify;
	font-size: 2vw;
}

.ranked {
	text-decoration: none;
	color: #eac56b;
}

.draft {
	text-decoration: none;
	color: #eac56b;
}

.ai {
	text-decoration: none;
	color: #eac56b;
}

.custom {
	text-decoration: none;
	color: #eac56b;
}

/* Objective */

.objective {
	margin-left: 5%;
	color: #ddd;
}

.line {
	color: #ddd;
	height: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.creeps {
	text-decoration: none;
	color: #eac56b;
}

.minions {
	text-decoration: none;
	color: #eac56b;
}

/* Head Features */

.features1 {
	margin-left: 5%;
	color: #ddd;
}

.head-features {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	color: #ddd;
	font-size: 1.2vw;
}

.dota {
	text-decoration: none;
	color: #eac56b;
}

/* Sub Features */

.features2 {
	margin-left: 7%;
	color: #ddd;
}

.sub-features {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	color: #ddd;
	font-size: 1.2vw;
}

.jungle {
	text-decoration: none;
	color: #eac56b;
}

.map-model {
	height: auto;
	width: 15%;
	margin-left: 50%;
	position: absolute;
	margin-top: -10%;
}

.map-model:hover {
	cursor: pointer;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.lanes {
	margin-left: 90%;
}

.ranked:hover, .draft:hover, .ai:hover, .custom:hover, .creeps:hover, .minions:hover,
.dota:hover, .jungle:hover {
	text-decoration: underline;
}

/* ------------ Ranked ------------- */

.container-ranked {
	max-width: 100%;
	background-color: #203f6c;
	background-image: linear-gradient(to top right, #203f6c, #00308F);
	height: 100%;
	margin-top: 10%;
	padding-top: 1%;
	padding-bottom: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50px;
}

.ranked-txt {
	margin-top: 5%;
	margin-left: 5%;
	height: auto;
	width: 30%;
}

.ranked-img {
	height: auto;
	width: 30%;
	margin: 2%;
	padding: 5%;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	float: right;
	display: block;
}

.ranked-img:hover {
	cursor: pointer;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.container-ranked p {
	color: #ddd;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	font-size: 1.2vw;
	margin-top: 5%;
}

.container-ranked h1 {
	color: #ddd;
	text-align: justify;
	font-size: 2vw;
}

.container-ranked h3 {
	color: #ddd;
	text-align: justify;
	font-size: 1.1vw;
	margin-left: 7%;
	margin-top: 3%;
}

/* Draft Pick */

.draft-pick {
	margin-left: 5%;
	color: #ddd;
	margin-top: 5%;
}

.draft-pick-txt {
	margin-top: -2%;
}

.draft-pick-txt p {
	margin-top: 2%;
}

.draft {
	text-decoration: none;
	color: #eac56b;
}

.line {
	color: #ddd;
	height: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Rank System */

.rank-system {
	margin-left: 5%;
	color: #ddd;
	margin-top: 5%;
}

.head-ranksystem {
	margin-top: -3%;
}

.head-ranksystem a {
	text-decoration: none;
	color: #eac56b;
}

.draft:hover, .head-ranksystem a:hover {
	text-decoration: underline;
}

/* Rank Table */

.rank-table {
	padding: 5%;
}

.rank-table img {
	height: auto;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.rank-table img:hover {
	cursor: pointer;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.rank-table th, .rank-table td {
	border: outset;
	background: gray;
}

.rank-table td {
	font-size: 1.2vw;
	text-align: center;
}

.rank-table th {
	font-size: 1.3vw;
	text-align: center;
}

.hide-warrior, .hide-elite, .hide-master, .hide-grandmaster, .hide-epic, .hide-legend,
.hide-mythic, .hide-mythicalglory  {
	display: none;
}

#show-warrior:hover + .hide-warrior, #show-elite:hover + .hide-elite, #show-master:hover + .hide-master,
#show-grandmaster:hover + .hide-grandmaster, #show-epic:hover + .hide-epic, #show-legend:hover + .hide-legend,
#show-mythic:hover + .hide-mythic, #show-mythicalglory:hover + .hide-mythicalglory {
	display: block;
}

/* ------------------- Footer ---------------------- */

.footer {
	height: auto;
	max-width: 100%;
	overflow:hidden;
	padding: 3%;
	background-color: #ddd;
	margin-top: 1%;
	display: block;
}

/* Follow Us Column */

.follow-us-column {
	float: left;
	width: 25%;
}

.follow-us-column img {
	height: auto;
	width: 15%;
}

.follow-us-column h1 {
	font-size: 1vw;
	margin-top: 10%;
	font-weight: 600;
}

.follow-us-column h5 {
	font-size: 1vw;
	margin-top: 10%;
}

.follow-us-column img:hover {
	cursor: pointer;
}

.footer a:hover {
	text-decoration: underline;
}

/* Overview Column */

.overview-column {
	float: left;
	width: 25%;
	margin-left: 10%;
	margin-top: -2%;
}

.overview-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.overview-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

/* Overview Column */

.community-column {
	float: left;
	width: 25%;
	margin-top: -2%;
}

.community-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.community-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}
