* {
	box-sizing: border-box;
}

body {
	font-family: Pandora;
}

/* -------------- Top Navigation Bar --------------- */ 

.mlbb-logo {
	float: left;
	height: auto;
	width: 15%;
	padding: 1%;
	margin-top: 0.5%;
}

.topnav {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	background: #203f6c;
	width: 100%;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 99;
}

.topnav a {
	float: left;
	color: white;
	padding: 1% 1%;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.5vw;
	margin-top: 1%;
	transition: 0.5s;
}

.topnav a:hover {
	cursor: pointer;
	color: #eac56b;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.content {
	margin-top: 10%;
	background-color: #203f6c;
	background-image: linear-gradient(to top right, #203f6c, #003399);
	padding: 5%;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
}

.submit-img {	
	width: 40%;
	height: auto;
	margin-bottom: 5%;
}

.option {
	width: 50%;
	padding: 1%;
	margin-bottom: 1%;
}

.txt {
	font-size: 1.2vw;
	font-weight: 700;
}

.txtbox {
	width: 50%;
	padding: 1%;
	margin-bottom: 1%;
}

.ptxt {
	color: #ddd;
	font-size: 0.8vw;
	font-weight: 400;
	margin-top: -1%;
}

.submitbtn {
	height: auto;
	width: 10%;
	margin-top: 3%;
	transition: 0.5s;
}

.submitbtn:hover {
	cursor: pointer;
	-moz-transform: scale(1.3);
 	-webkit-transform: scale(1.3);
 	transform: scale(1.3);
}

.contact-cover {
		width: 100%;
}

.col-right {
	float: right;
	width: 50%;
	margin-top: -65%;
	margin-right: -3%;
	padding: 5%;
}

.col-right h1 {
	margin-top: 5%;
	font-size: 1.3vw;
	font-weight: 600;
}

.col-right h2 {
	margin-top: 5%;
	font-size: 1.2vw;
	font-weight: 200;
	color: #ddd;
}

.col-right h3 {
	font-size: 1vw;
	font-weight: 400;
	color: #ddd;
}

.mlbb-link {
	margin-top: 5%;
}

.col-right a:hover {
	color: #eac56b;
}

.link-tag {
	margin-top: 8%;
}

.link-tag h3 {
	font-size: 1.3vw;
}


/* ------------------- Footer ---------------------- */

.footer {
	height: auto;
	max-width: 100%;
	overflow:hidden;
	padding: 3%;
	background-color: #ddd;
	margin-top: 1%;
	display: block;
}

/* Follow Us Column */

.follow-us-column {
	float: left;
	width: 25%;
}

.follow-us-column img {
	height: auto;
	width: 15%;
}

.follow-us-column h1 {
	font-size: 1vw;
	margin-top: 10%;
	font-weight: 600;
}

.follow-us-column h5 {
	font-size: 1vw;
	margin-top: 10%;
}

.follow-us-column img:hover {
	cursor: pointer;
}

.footer a:hover {
	text-decoration: underline;
}

/* Overview Column */

.overview-column {
	float: left;
	width: 25%;
	padding-left: 7%;
	margin-top: -1%;
}

.overview-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.overview-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

/* Overview Column */

.community-column {
	float: left;
	width: 25%;
	margin-top: -1%;
	padding-left: 3%;
}

.community-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.community-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

.apps-column {
	float: left;
	width: 25%;
}

.apps-column img {
	height: auto;
	width: 80%;
	margin-left: -10%;
	margin-top: 5%;
}
