* {
	box-sizing: border-box;
}

body {
	font-family: Pandora;
}

/* -------------- Top Navigation Bar --------------- */ 

.mlbb-logo {
	float: left;
	height: auto;
	width: 15%;
	padding: 1%;
	margin-top: 0.5%;
}

.topnav {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	background: #203f6c;
	width: 100%;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 99;
}

.topnav a {
	float: left;
	color: white;
	padding: 1% 1%;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.5vw;
	margin-top: 1%;
	transition: 0.5s;
}

.topnav a:hover {
	cursor: pointer;
	color: #eac56b;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.content {
	margin-top: 10%;
	background-color: #203f6c;
	background-image: linear-gradient(to top right, #203f6c, #003399);
	padding: 10%;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
}

.img-cover {
	display: block;
	width: 85%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.content h1 {
	font-size: 3vw;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5%;
}

.content h4 {
	font-size: 1.3vw;
	font-weight: 300;
	margin-left: 7%;
	margin-bottom: 3%;
}

.content p {
	font-size: 1.2vw;
	font-weight: 400;
	margin-top: 3%;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
}

.flip-card p {
	font-size: 1vw;
	font-weight: 400;
	margin-top: 3%;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
}

.content hr {
	margin-top: 5%;
}

.faqs-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
}

.flip-card {
	padding-left: 5%;
  background-color: transparent;
  width: 360px;
  height: 100px;
  perspective: 1000px;
  margin-top: 5%;
  display: inline-block;
  margin-bottom: 10%;
}

.faqs-txt {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: justify;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #2f5b9d;
  border: 5px outset #eac56b;
}

.flip-card-back {
	overflow: auto;
	overflow-x: hidden;
  background-color: #2f5b9d;
  color: #ddd;
  padding-top: 5%;
  transform: rotateY(180deg);
  border: 5px outset #eac56b;
  width: 100%;
  height: 300%;
}

.flip-card-back li {
	padding-right: 10%;
}

/* ------------------- Footer ---------------------- */

.footer {
	height: auto;
	max-width: 100%;
	overflow:hidden;
	padding: 3%;
	background-color: #ddd;
	margin-top: 1%;
	display: block;
}

/* Follow Us Column */

.follow-us-column {
	float: left;
	width: 25%;
}

.follow-us-column img {
	height: auto;
	width: 15%;
}

.follow-us-column h1 {
	font-size: 1vw;
	margin-top: 10%;
	font-weight: 600;
}

.follow-us-column h5 {
	font-size: 1vw;
	margin-top: 10%;
}

.follow-us-column img:hover {
	cursor: pointer;
}

.footer a:hover {
	text-decoration: underline;
}

/* Overview Column */

.overview-column {
	float: left;
	width: 25%;
	padding-left: 7%;
	margin-top: -1%;
}

.overview-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.overview-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

/* Overview Column */

.community-column {
	float: left;
	width: 25%;
	margin-top: -1%;
	padding-left: 3%;
}

.community-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.community-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

.apps-column {
	float: left;
	width: 25%;
}

.apps-column img {
	height: auto;
	width: 80%;
	margin-left: -10%;
	margin-top: 5%;
}
