* {
	box-sizing: border-box;
}

body {
	font-family: Pandora;
}

/* -------------- Top Navigation Bar --------------- */ 

.mlbb-logo {
	float: left;
	height: auto;
	width: 15%;
	padding: 1%;
	margin-top: 0.5%;
}

.topnav {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	background: #203f6c;
	width: 100%;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 99;
}

.topnav a {
	float: left;
	color: white;
	padding: 1% 1%;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.5vw;
	margin-top: 1%;
	transition: 0.5s;
}

.topnav a:hover {
	cursor: pointer;
	color: #eac56b;
	-moz-transform: scale(1.2);
 	-webkit-transform: scale(1.2);
 	transform: scale(1.2);
}


/* ------------------- Slideshow ---------------------- */

.slideshow {
	margin-top: 6.5%;
}

.slideshow img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

#prev {
	margin-left: -5%;
}

#next {
	margin-right: -5%;
}

.latest-news-content {
	position: relative;
	max-width: 100%;
	margin-top: 25%;
	margin-left: 5%;
	margin-right: 5%;
}

.latest-news-txt {
	position: absolute;
	max-width: 100%;
	height: auto;
	width: 20%;
	margin-top: 3%;
	margin-left: 2%;
}

.view-all {
	position: absolute;
	margin-top: 3.5%;
	margin-left: 24%;
	font-size: 1.7vw;
	color: #666666;
	transition: 0.5s;
}

.view-all:hover {
	cursor: pointer;
	color: #203f6c;
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	transform: scale(1.1);
}

.mlbb-cover {
	display: block;
	width: 100%;
	height: auto;
}

.leftcol {
	float: left;
	display: inline;
	width: 33.33%;
}

.centercol {
	float: left;
	display: inline;
	width: 33.33%;
}

.rightcol {
	float: left;
	display: inline;
	width: 33.33%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 36%;
  transition: .5s ease;
  opacity: 0.9;
  border-bottom: 5px solid #808080;
}

.latest-news-content:hover .overlay {
  height: 100%;
  opacity: 0.8;
  border-bottom: 5px solid #eac56b;
  cursor: pointer;
}

.overlay h3 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1vw;
	color: #ddd;
}

.overlay h1 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.2vw;
	font-weight: 600;
	color: white;
}

.overlay p {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 0.9vw;
	color: white;
	text-align: justify;
}

/* ------------------- Content ---------------------- */

.container-content {
	background-color: #203f6c;
	background-image: linear-gradient(to top right, #203f6c, #00308F);
	height: 100%;
	margin-top: 30%;
	padding-top: 1%;
	padding-bottom: 5%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50px;
}


/* Moonton */

.moonton {
	height: auto;
	max-width: 100%;
	width: 60%;
	overflow:hidden;
	padding: 3%;
	margin-top: 5%;
	background-color: #203f6c;
	display: block;
	margin-left: 5%;
	border: 5px outset #eac56b;
	box-shadow: 10px 10px black;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.moonton img {
	height: auto;
	max-width: 100%;
	width: 30%;
	margin-left: -2%;
}

.moonton-txt {
	float: right;
	color: white;
	font-size: 1vw;
	margin-top: -20%;
}

.moonton-txt h1 {
	font-size: 3vw;
	color: white;
}

.moonton-txt a {
	color: #eac56b;
	font-size: 1vw;
	text-decoration: none;
}

.moonton-txt a:hover {
	text-decoration: underline;
}

.see-how-moonton {
	float: right;
	margin-top: 10%;
}

.see-how-moonton a {
	font-size: 1.2vw;
	margin-left: 70%;
}

.see-how-moonton h5 {
	font-size: 1.5vw;
}

.eudora {
	height: auto;
	width: 30%;
	margin-left: 59%;
	margin-top: -30%;
	position: absolute;
}

/* Moba */

.moba {
	height: auto;
	max-width: 100%;
	width: 90%;
	overflow:hidden;
	padding: 3%;
	background-color: #203f6c;
	display: block;
	margin-left: 5%;
	margin-top: 3%;
	border: 5px outset #eac56b;
	box-shadow: 10px 10px black;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.moba img {
	height: auto;
	max-width: 100%;
	width: 35%;
}

.moba-txt {
	float: right;
	color: white;
	font-size: 1vw;
	margin-top: -20%;
	margin-left: 40%;
}

.moba-txt h1 {
	font-size: 3vw;
	color: white;
}

.moba-txt a {
	color: #eac56b;
	font-size: 1vw;
	text-decoration: none;
}

.moba-txt a:hover {
	text-decoration: underline;
}

.moba-txt h5 {
	font-size: 1vw;
}

.see-how-moba {
	float: right;
	margin-top: 10%;
}

.see-how-moba a {
	margin-left: 70%;
}

/* ------------------- Footer ---------------------- */

.footer {
	height: auto;
	max-width: 100%;
	overflow:hidden;
	padding: 3%;
	background-color: #ddd;
	margin-top: 1%;
	display: block;
}

/* Follow Us Column */

.follow-us-column {
	float: left;
	width: 25%;
}

.follow-us-column img {
	height: auto;
	width: 15%;
}

.follow-us-column h1 {
	font-size: 1vw;
	margin-top: 10%;
	font-weight: 600;
}

.follow-us-column h5 {
	font-size: 1vw;
	margin-top: 10%;
}

.follow-us-column img:hover {
	cursor: pointer;
}

.footer a:hover {
	text-decoration: underline;
}

/* Overview Column */

.overview-column {
	float: left;
	width: 25%;
	padding-left: 7%;
	margin-top: -1%;
}

.overview-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.overview-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

/* Overview Column */

.community-column {
	float: left;
	width: 25%;
	margin-top: -1%;
	padding-left: 3%;
}

.community-column h1 {
	font-size: 1.5vw;
	margin-top: 5%;
	margin-bottom: 10%;
}

.community-column a {
	text-decoration: none;
	color: black;
	font-size: 1vw;
}

.apps-column {
	float: left;
	width: 25%;
}

.apps-column img {
	height: auto;
	width: 80%;
	margin-left: -10%;
	margin-top: 5%;
}
